<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado ">Recuperar contraseña</h3>
<form  [formGroup]="formCorreo">
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Email</ion-label>
    <ion-input formControlName="email" name="email" type="text" #email required></ion-input>
  </ion-item>
  <ion-label class="pequeno" color="danger" *ngIf="formCorreo.controls.email.errors?.email && (formCorreo.get('email').touched || formCorreo.get('email').dirty)">* El email no es válido.</ion-label>
  <ion-label class="pequeno" color="danger" *ngIf="formCorreo.controls.email.errors?.required && (formCorreo.get('email').touched || formCorreo.get('email').dirty)">* El email es obligatorio </ion-label>
  <ion-row>
    <ion-col>
      <ion-button type="submit" [disabled]="!formCorreo.valid"  color="light" class="normal" (click)="onResetPassword(email)" expand="block" >Recuperar contraseña</ion-button>
      
    </ion-col>
  </ion-row>
  

  
</form>

<ion-row>
  <ion-col>
    <p class="ion-text-end pequeno">
      <a href="/register" >
        Crear nueva cuenta
      </a>
    </p>
  </ion-col>
</ion-row>
</ion-content>
