<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado ">Recuperar contraseña</h3>
<form>
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Email</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>
 
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="light" class="normal" (click)="onResetPasword(email)" expand="block" >Recuperar contraseña</ion-button>
      
    </ion-col>
  </ion-row>
  

  
</form>

<ion-row>
  <ion-col>
    <p class="ion-text-end pequeno">
      <a href="/register" >
        Crear nueva cuenta
      </a>
    </p>
  </ion-col>
</ion-row>
</ion-content>
