<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      FisioHome
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="center" class="imagen">
    <img class="icon" src="assets/home.jpg" alt="">
  </div>
 
  <div>
    <h2 class="center-span titulo">Fisio Home</h2>
  </div>

  <div>
    <p class="center-span subtitulo">Maximiza tu potencial, <br> con el tratamiento <br> adecuado al alcance de <br> un clic.</p>
  </div>

  <div>
    <ion-button class="boton-position" routerLink="/login" color="medium" expand="block">Iniciar</ion-button>
  </div>
</ion-content>

