
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="subtitulo">Login</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  <div class="center">
    <img class="icon" src="assets/icon/fisiocam.png" alt="">
  </div>
  
  
<form autocomplete="off" [formGroup]="loginForm" >
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Email</ion-label>
    <ion-input formControlName="email" type="text" #email required></ion-input>
  </ion-item>
  <ion-label class="pequeno" color="danger" *ngIf="loginForm.controls.email.errors?.required && (loginForm.get('email').touched || loginForm.get('email').dirty)">* El email es Obligatorio</ion-label>
  <ion-label class="pequeno" color="danger" *ngIf="loginForm.controls.email.errors?.email && (loginForm.get('email').touched || loginForm.get('email').dirty)">* El email no es válido.</ion-label>
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Password</ion-label>
    <ion-input  formControlName="password" type="password" #password required></ion-input>
  </ion-item>
  <ion-label class="pequeno" color="danger" *ngIf="loginForm.controls.password.errors?.required && (loginForm.get('password').touched || loginForm.get('password').dirty)">* El password es Obligatorio</ion-label>
  <ion-label class="pequeno" color="danger" *ngIf="loginForm.controls.password.errors?.minlength && (loginForm.get('password').touched || loginForm.get('password').dirty)">* El password tiene que tener al menos 6 caracteres.</ion-label>

  <ion-row>
    <ion-col>
      <ion-button  type="submit" color="light" [disabled]="!loginForm.valid"  (click)="onLogin()" expand="block" >Login</ion-button>
    </ion-col>
  </ion-row>
  
<ion-row>
  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <a routerLink="/forgot-password" class="pequeno">Olvidé mi Contraseña</a>
    </div>
    
  </ion-col>
</ion-row>
  <ion-reorder slot="end"></ion-reorder>
  <span class="center-span" >or</span>
  <ion-row>
    <ion-col>
   

      <ion-button icon-start class="google" type="submit" expand="block" (click)="onLoginGoogle()" expand="block" >
        <ion-icon name="logo-google" slot="start">
          
        </ion-icon> 
        <ion-label>Loguearse con Google</ion-label>
      </ion-button>
        
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col >
      
      <ion-button type="submit" expand="block" class="facebook" (click)="onLoginFacebook()" expand="block" >
        <ion-icon name="logo-facebook" slot="start"></ion-icon> 
        <ion-label>Loguearse con facebook</ion-label>
      </ion-button>
      </ion-col>
  </ion-row>
 
</form>

<ion-row>
  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <a routerLink="/register" class="pequeno">Crear nueva cuenta</a>
    </div>
    
  </ion-col>
</ion-row>
</ion-content>
