
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  <div class="center">
    <img class="icon" src="assets/icon/fisiocam.png" alt="">
  </div>
  
  
<form autocomplete="off">
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Email</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating" class="normal">Password</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="light" (click)="onLogin(email, password)" expand="block" >Login</ion-button>
      
      
    </ion-col>
  </ion-row>
  
<ion-row>
  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <a routerLink="/forgot-password" class="pequeno">Olvidé mi Contraseña</a>
    </div>
    
  </ion-col>
</ion-row>
  <ion-reorder slot="end"></ion-reorder>
  <span class="center-span" >or</span>
  <ion-row>
    <ion-col>
   

      <ion-button icon-start class="google" type="submit" expand="block" (click)="onLoginGoogle()" expand="block" >
        <ion-icon name="logo-google" slot="start">
          
        </ion-icon> 
        <ion-label>Loguearse con Google</ion-label>
      </ion-button>
        
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col >
      
      <ion-button type="submit" expand="block" class="facebook" (click)="onLoginFacebook()" expand="block" >
        <ion-icon name="logo-facebook" slot="start"></ion-icon> 
        <ion-label>Loguearse con facebook</ion-label>
      </ion-button>
      </ion-col>
  </ion-row>
 
</form>

<ion-row>
  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <a routerLink="/register" class="pequeno">Crear nueva cuenta</a>
    </div>
    
  </ion-col>
</ion-row>
</ion-content>
