<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"  menu="main-menu"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <!-- Searchbar with cancel button never shown -->
    <ion-searchbar showCancelButton="never"></ion-searchbar>
  </div>
    
      <ion-content class="card-background-page">
        <ion-card>
          <img src="assets/deportiva.png"/>
          <ion-card-content>
            <ion-card-title>
              Deportiva
              </ion-card-title>
            <p>
              Fisioterapia dedicada a tratar problemas musculares <br>
              lesiones, esguinces, desgarres y todo tipo de lesiones <br>
              relacionadas a la practica de cualquier deporte.
            </p>
          </ion-card-content>
          <div>
            <ion-button>
              Solicitar Cita
            </ion-button>
          </div>
        </ion-card>
        <ion-card>
          <img src="assets/adulto.jpg" class="card-img-top" />
          <ion-card-content>
            <ion-card-title>
              Adulto Mayor
              </ion-card-title>
            <p>
              Fisioterapia para mantenimiento de fuerza y alivio de dolor,
              tratamiento para osteoporosis, artritis, sedentarismo,
              asi como la independizacion del adulto mayor.
            </p>
          </ion-card-content>
          <div>
            <ion-button>
              Solicitar Cita
            </ion-button>
          </div>
        </ion-card>
      
        <ion-card>
          <img src="assets/embarazo.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Embarazo
            </ion-card-title>
            <p>
              Control de la untingencia urinaria, de los dolores de espalda, ciatica, 
              cambios musculares e inflamacion de piernas y pies.
              
            </p>
          </ion-card-content>
          <div>
            <ion-button>
              Solicitar Cita
            </ion-button>
          </div>
        </ion-card>
      
        <ion-card>
          <img src="assets/espalda-cuello.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Espalda y Cuello
              </ion-card-title>
            <p>
              Fisioterapia para la espalda dolorosa, hernias discales,
              dolor de cuello, dolor de espalda en general, ciatica y demas
              problemas relacionados con esta parte del cuerpo.
            </p>
          </ion-card-content>
          <div>
            <ion-button>
              Solicitar Cita
            </ion-button>
          </div>
        </ion-card>
      
        <ion-card>
          <img src="assets/neurologicos.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Neurologicos
              </ion-card-title>
            <p>
              Fisioterapia para lesiones del sistema nervioso,
              paralisis cerebral, accidentes cerebro vasculares (derrame),
              esclerosis multiple, lesiones de plexo facial y paralisis facial.
            </p>
            <div>
              <ion-button>
                Solicitar Cita
              </ion-button>
            </div>
          </ion-card-content>
          
        </ion-card>
    
      </ion-content>
   
</ion-content>