<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="normal ion-text-wrap">Seleccionar mi ubicación</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <div #map class="map">

  </div>
  

  <ion-row>
    <ion-col>
      <ion-button  (click)="mylocation();" color="tertiary" mode="ios" shape="round" class="aceptar" >
        <ion-icon name="locate-outline"></ion-icon>
      </ion-button>
    </ion-col>
</ion-row>
  

 
  
</ion-content>

<ion-footer>
  <ion-toolbar>
   <ion-row>
     <ion-col>
      <label class="subtitulo">Mueve el marcador hasta el punto de encuentro</label>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       <label class="normal">{{direccion}}</label>
     </ion-col>
   </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  (click)="aceptar();" mode="ios" color="primary" expand="full" >
          Aceptar
        <ion-icon slot="end" name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer>
