.div-margenes{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.div-programar{
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.boton-position{
  
    position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      margin:20px;
  
  }

.div-select{
    margin-left: 2px;
    margin-right: 2px;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
}