<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin" >
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Cita</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  
<h3 class="subtitulo encabezado">Solicitar Cita</h3>

<div class="alfinal" *ngIf="!enableForm" >
  <ion-button  (click)="nuevaDireccion()" slot="end"  color="secondary" size="small" slot="end">Agregar Direccion</ion-button>
</div>



<div class="div-margenes" *ngIf="enableForm" >
  <ion-item-divider>
    <ion-label class="normal">Agregar Direccion</ion-label>
    <ion-button  fill="clear" (click)="enableForm=false;" slot="end"   >
      <ion-icon name="close-outline"  color="dark"  button="true" ></ion-icon>
    </ion-button>
  </ion-item-divider>
  <form [formGroup]="DireccionForm">
  
    <ion-item  (click)="addDireccion();">
      <ion-label class="normal">Ubicación</ion-label>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon slot="icon-only" color="primary" name="location"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-item lines="full">
      <ion-label position="floating" class="normal">Dirección</ion-label>
      <ion-input disabled=true formControlName="direccion" [(ngModel)]="newDireccion.direccion" name="direccion" #direccion type="text"></ion-input>
    </ion-item>
    <ion-label class="pequeno" color="danger" *ngIf="DireccionForm.controls.direccion.errors?.required && (DireccionForm.get('direccion').touched || DireccionForm.get('direccion').dirty)">* La direccion es obligatorio </ion-label>  
    <ion-item lines="full">
      <ion-label position="floating" class="normal">Referencia o aclaración</ion-label>
      <ion-input   formControlName="referencia" [(ngModel)]="newDireccion.referencia" name="referencia" #referencia type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!DireccionForm.valid"   color="light" (click)="guardarDireccion()"  expand="block" >Guardar direccion</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>




<div class="div-programar">
  
  
        <form [formGroup]="citaForm"  >
          <ion-list>    
     
            <ion-radio-group  formControlName="idDireccion" [(ngModel)]="idDireccion" name="idDireccion" #direccion type="text"  required>
              <ion-list-header>
                <ion-label class="subtitulo">Selecciona dirección</ion-label>
              </ion-list-header>
              <ion-item  *ngFor="let direccion of direcciones ">
                <ion-label  class="normal" >{{direccion.direccion}}</ion-label>
                <ion-radio class="radio radio-inline radio-gray" slot="start" value="{{direccion.id}}"  ></ion-radio>
              </ion-item>
            </ion-radio-group>   
          </ion-list>
          <ion-label class="pequeno" color="danger" *ngIf="citaForm.controls.idDireccion.errors?.required && (citaForm.get('idDireccion').touched || citaForm.get('idDireccion').dirty)">* La <b>Dirección</b> es obligatorio </ion-label>  
          <ion-list-header>
            <ion-label class="subtitulo">
              ¿Cuando?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label class="normal">Fecha y Hora </ion-label>
            <ion-datetime   [(ngModel)]="newCita.fecha" name="fecha" minuteValues="0,15,30,45" formControlName="fecha" #fecha displayFormat="DDD MMM  H:mm"  min="2021"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>hh:mm A (15 min steps)</ion-label>
            <ion-datetime displayFormat="H:mm" minuteValues="0,30"></ion-datetime>
          </ion-item>
          <ion-label class="pequeno" color="danger" *ngIf="citaForm.controls.fecha.errors?.required && (citaForm.get('fecha').touched || citaForm.get('fecha').dirty)">* La <b>Fecha</b> es obligatorio </ion-label>  

        </form>
</div>


  


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-justify-content-center">
          <h3>Precio:</h3>
        </ion-col>
        <ion-col  *ngIf="citaForm.valid" class="normal text-center" size="6" >
          <h3>Q.175.00</h3>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-button class="subtitulo" [disabled]="!citaForm.valid"  color="primary" (click)="guardarCita()" expand="full">Programar Cita</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
</ion-footer>
