<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin" >
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Cita</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Subtitulo-->  
  <h3 class="subtitulo encabezado" >Mis Citas</h3>


  <!-- Default Segment -->
  <div class="m-3">
    <ion-segment mode="ios" (ionChange)="changeSegment($event)" value="solicitados">
      <ion-segment-button value="solicitados">
        <ion-label class="normal">En curso</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="finalizados">
        <ion-label class="normal">Finalizadas</ion-label>
      </ion-segment-button>

      <ion-segment-button value="canceladas">
        <ion-label class="normal">Canceladas</ion-label>
      </ion-segment-button>
    </ion-segment>        
  </div>


<ion-card *ngFor="let cita of citas">

  <ion-card-header>
    <ion-card-subtitle class="normal">Estado: {{cita.estado}}</ion-card-subtitle>
    <ion-card-title class="subtitulo">Fisioterapeuta: {{cita.profesional}}</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label class="pequeno md-8">{{cita.direccion.direccion}}</ion-label>   
  </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{cita.fecha}}</ion-label>   
    </ion-item>
  
  <ion-item >
    <ion-icon name="card-outline" slot="start"></ion-icon>
    <ion-label>Precio: </ion-label>
    <ion-label>Q. {{cita.precio}}</ion-label>
  </ion-item>
  <ion-item *ngIf="cita.estado == 'Solicitada'">
    <ion-button class="pequeno" >Ver en tiempo real <ion-icon name="eye" slot="end"></ion-icon></ion-button>
    <ion-button class="pequeno" (click)="cancelarCita(cita)" color="danger" slot="end">Cancelar Cita<ion-icon name="close-circle" slot="end"></ion-icon></ion-button>
  </ion-item>
    <ion-button color="success" *ngIf="cita.estado == 'Finalizada'" expand="block" class="normal" >Calificar Cita <ion-icon slot="end" name="thumbs-up"></ion-icon></ion-button>
</ion-card>

<ion-card>
  

 
</ion-card>


</ion-content>
