<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin" >
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="subtitulo">Mi Perfil</ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>

  

  <form  class="form-margen" >

    <ion-item>
      <div class='button-container item-style' >
        
        <label for="file-upload">
          <img button=true width="100%" height="100%" class="profile-foto img-thumbnail" [src]='Usuario.photoURL'>
        </label>
        <button   type="button"  class="btn btn-light btn-circle btn-lg"   >
          <label for="file-upload">
            <ion-icon  name="camera"></ion-icon>
          </label>
          <input (change)="newImagePerfil($event)" id="file-upload" type="file" style="display: none;" accept="image/*">
        </button>
      </div>
    </ion-item>



    <ion-item lines="full">
      <ion-label position="floating" required='true' class="normal">Nombre:</ion-label>
      <ion-input [(ngModel)]="Usuario.displayName" (change)="botonEnable=true" #displayName name="displayName"  type="text"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" class="normal">Correo electronico</ion-label>
      <ion-input  [(ngModel)]="Usuario.email" disabled=true name="email" (change)="botonEnable=true"  type="text"   ></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating" class="normal">Teléfono</ion-label>
      <ion-input  [(ngModel)]="Usuario.phoneNumber" name="numero"  type="text" (change)="botonEnable=true"  ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button  [disabled]="!botonEnable" type="submit" color="light" (click)="guardarUsuario()" expand="block" >Actualizar datos</ion-button>
      </ion-col>
    </ion-row>
  </form>
  


</ion-content>
